tbody:before {
  content: "-";
  display: block;
  line-height: 1em;
  color: transparent;
}

.td {
  padding-left: 12px;
}

.tr>td {
  padding-bottom: 15px;
}

.img {
  padding-left: 6px;
}

.img img {
  margin-right: 6px;
}