.active {

    border: black 1px;
}

.link {
    display: block;
    color: gray;
}

.link:hover {
    cursor: pointer;
    color: black;
    border: black 5px !important;
}

.diplomasContainer {
    padding: 0 4rem;
}

@media only screen and (max-width: 1080px) {
    .accessModal {
        width: 95%;
    }

    .diplomaItem {
        width: 100% !important;
    }
}

@media only screen and (max-width: 768px) {
    .diplomaImg {
        width: 40% !important;
        padding: 1rem !important;
    }

    .diplomasContainer {
        padding: 0 2rem;
    }

    .accessModal {
        width: 95%;
    }
    .mobText {
        font-size: 1rem !important;
    }
    .mobMb1 {
        margin-bottom: 1rem !important;
    }
    .mobTextL {
        font-size: 1.5rem !important;
    }
    .mobTextSm {
        font-size: .8rem !important;
    }
    .mobPl2 {
        padding-left: 2rem;
    }
    .mobPl1 {
        padding-left: 1rem;
    }
    .diplomaItem {
        padding: 0 .5rem !important;
        width: 100%;
        display: flex;
        flex-direction: row;
    }
}