@import "https://unpkg.com/open-props";

.mediaScroller {
  --_spacer: var(--size-3);
  display: flex;
  gap: var(--_spacer);

  padding: 0 var(--_spacer) var(--_spacer);

  overflow-x: auto;
  overscroll-behavior-inline: contain;

  align-items: center;
}

.mediaScroller::-webkit-scrollbar {
  height: 10px;
}